@model DewarpingApp.Domain.Models.ImageFile

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Devarping  app</title>
</head>
<body>
    <h3>Upload your image</h3>

    <form asp-action="AddFile" asp-controller="Home" enctype="multipart/form-data">
        <input type="file" />
        <input type="button" value="submit" />
    </form>
</body>
</html>