@model DewarpingApp.Domain.Models.ImageFile

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Devarping  app</title>
</head>
<body>
    <h3>Press the link below to upload your file</h3><br />
    <a asp-action="AddFile">Upload file</a>
</body>
</html>